<!-- Interpolation example -->
<h1>{{name}}</h1> 
<!-- Property Binding -->
<br>
<div>
    <input type="text" [value]=name [disabled]=disable>
</div>
<br>
<!-- Event Binding -->
<div>
    <button (click) = "goBack()">Go Back</button>
</div>
<br>
<!-- Two-way Binding = data can flow from the Models to the views and vice-versa-->
<div>
    <input [(ngModel)]="name2" type="text"> 
    <br>
    {{name2}}
</div>
<br>
<!-- Directives explanations -->
<h1>This is Directive Explanation</h1>
<h1 appRedElement>This is Directive Explanation</h1>

<!-- Dependency Injection Demo -->
<br>
<h1>{{message}}</h1>
<br>

<!-- Routing tutorial -->
<div>
    <h1>Routing demo</h1>
</div>
<nav>
    <a routerLink="/students"><button enable ="enable">Students</button></a>
    <a routerLink="/teachers"><button enable ="enable">Teachers</button></a>
</nav>
<router-outlet></router-outlet>